<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.oktogames.app_2x2is4.light"
          android:clearTaskOnLaunch="true"
          android:installLocation="preferExternal"
          android:versionCode="10"
          android:versionName="1.7">
    <!-- minSdkVersion="7" - 2.1 version -->
    <uses-sdk android:minSdkVersion="15" />
    <application android:label="@string/app_name"
                 android:icon="@drawable/icon"
                 android:name=".TwoXTwoIs4Application">
        <activity android:name=".TwoXTwoIs4Activity"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape"
                  android:launchMode="singleInstance"
                  android:clearTaskOnLaunch="true"
                  android:alwaysRetainTaskState="true"
                  android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.GameActivity"
                  android:screenOrientation="landscape"
                  android:launchMode="singleInstance"
                  android:finishOnTaskLaunch="true"
                  android:theme="@style/Theme.Splash"/>
        <activity android:name=".activity.LearnActivity"
                  android:screenOrientation="landscape"
                  android:launchMode="singleInstance"
                  android:theme="@style/Theme.Splash"/>
        <activity android:name=".activity.HistoryActivity"
                  android:screenOrientation="landscape"
                  android:launchMode="singleInstance"
                  android:theme="@style/Theme.Splash"/>
        <activity android:name=".activity.SettingsActivity"
                  android:screenOrientation="landscape"
                  android:launchMode="singleInstance"
                  android:theme="@style/Theme.Splash"/>
        <activity android:name=".DispatchActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape"
                  android:launchMode="singleInstance"
                  android:clearTaskOnLaunch="true"
                  android:alwaysRetainTaskState="true"
                  android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
